# Add your dependencies here
# Example:
# flask
# numpy
# opencv-python
# torch
# torchaudio
# whisper
mss
opencv-python
numpy

# Whisper & Transformers
torch
torchaudio
transformers
datasets
accelerate
evaluate
jiwer
peft
bitsandbytes
librosa
soundfile
